.body-custom {
  padding: 70px;
}

.body-400 {
  margin-top: 500px;
  background-image: url("../img/errorsCode/400.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.body-404 {
  margin-top: 500px;
  background-image: url("../img/errorsCode/404.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.body-500 {
  margin-top: 500px;
  background-image: url("../img/errorsCode/500.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.body-error {
  margin-top: 500px;
  background-image: url("../img/errorsCode/error.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.error {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.msg {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

#login-box {
  width: 300px;
  padding: 20px;
  margin: 100px auto;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border: 1px solid #808080;
}

#waiting {
  /*width: 150px;
    height: 100px;
    display: table-cell;
    border-style: solid;
    border-width: 1px;
    border-color: #2e6e9e;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -50px;*/
  display: none;
  z-index: 2;
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
  opacity: 0.7;
  background-image: url('../css/images/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
}

.panel-green {
  border-color: #5cb85c;
}

.panel-green .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}

.panel-green a {
  color: #5cb85c;
}

.panel-green a:hover {
  color: #3d8b3d;
}

.panel-purple {
  border-color: #544a9c;
}

.panel-purple .panel-heading {
  border-color: #544a9c;
  color: #fff;
  background-color: #544a9c;
}

.panel-purple a {
  color: #544a9c;
}

.panel-purple a:hover {
  color: #b52b27;
}

.panel-yellow {
  border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}

.panel-yellow a {
  color: #f0ad4e;
}

.panel-yellow a:hover {
  color: #df8a13;
}

#leyenda-amazon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #e8a02a;
}

#leyenda-google {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #3974c4;
}

#leyenda-heroku {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #413290;
}

th.ui-th-column div {
  white-space: normal !important;
  height: auto !important;
  padding: 2px;
}